@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622690054798') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before {
  content: "\e6be";
}

.icon-iconsortrecommend:before {
  content: "\e62b";
}

.icon-tuijian1:before {
  content: "\e608";
}

.icon-tuijian2:before {
  content: "\e63f";
}

.icon-recommend:before {
  content: "\e639";
}

