@font-face {
  font-family: 'PingFang';
  src: url('./PingFang.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FangSong';
  src: url('./song.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SimHei';
  src: url('./hei.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./HelveticaL.otf');
  font-weight: normal;
  font-style: normal;
}
